<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Test For Agile Engine</title>
        <meta charset="utf-8">
        {% include "../includes/head.html" %}
        <!--<![endif]-->
        <!--[if lt IE 8]>
        <div style=' clear: both; text-align:center; position: relative;'>
            <a href="http://windows.microsoft.com/en-US/internet-explorer/products/ie/home?ocid=ie6_countdown_bannercode">
                <img src="images/ie8-panel/warning_bar_0000_us.jpg" border="0" height="42" width="820" alt="You are using an outdated browser. For a faster, safer browsing experience, upgrade for free today." />
            </a>
        </div>
        <![endif]-->
        <!--[if lt IE 9]>
        <script src="public/js/html5shiv.js"></script>
        <link rel="stylesheet" type="text/css" media="screen" href="css/ie.css">
        <![endif]-->
    </head>
    <body>
        <!--HEADER-->
        {% include "../partials/header.html" %}
        <!--CONTENT-->
        {% block content %}{% endblock %}
    </body>
    <!--JS SCRIPTS-->
    {% include "../includes/foot.html" %}
</html>